.card__descricao{

    display: flex;
    justify-content: space-between;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{

    display: flex;
}

/* 08:05 costumizar Css*/